<section data-ng-controller="ItemsController" data-ng-init="getItems()">
  <h1>Test App</h1>

  <div class="items" >
    <ul>
      <li data-ng-repeat="x in items"> {{x.name}} </li>
    </ul>
  </div>
</section>
